* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    position: relative;
    background-image: url("img/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}





.form {
    margin-top: 59px;

    padding: 20px;
    width: 70%;
    float: left;

}





.formcontrol {

    width: 100%;
    padding: 7px 12px;
    border: 5px solid #ced4da;
    border-radius: 3px;

}

.formgroup {
    margin-bottom: 8px;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
}

label {
    margin-bottom: 3px;
    display: inline-block;
}



.big {
    width: 0.8em;
    height: 0.8em;
}

.buton {
    padding: 6px 12px;
    border-radius: 3px;
    border-color: #000000;
    background-color: #122336;
    color: white;
    margin-right: 25px;
}

.buton:hover {
    background-color: #0069d9;

}

.iletisimbilgi {
    margin-top: 59px;
    height: 586px;
    font-size: 25pxs
}



.ie {
    padding: 10px;

    background-color: rgba(165, 207, 247, 0.5);

}


.iletisimbilgi p {
    padding-left: 10px;
    padding-bottom: 5px;
    color: rgb(5, 32, 59);
}

@media screen and (max-width: 1100px) {

    .form {

        width: 100%;
        margin: 1px;


    }

    .iletisimbilgi {
        width: 100%;
        height: auto;
    }

}

.iletisimphp{
    margin-top: 3%;
    background-color: rgb(248, 247, 247);
    border: solid   blue 1px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 0px rgba(131, 130, 130, 0.42);
}

footer {
    clear: both;
}